<mat-toolbar color="primary" style="text-align: center;">
    Reusable Confirmation Dialog
  </mat-toolbar>
  <br>
  <mat-card appearance="outlined" class="example-card">
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-subtitle>Card subtitle - {{longText}}</mat-card-subtitle>
    <mat-card-content>
      <h4>Create Reusable Confirmation Dialogs with Angular Material - by Zoaib Khan</h4>
      <p>{{reply}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class='button' mat-raised-button (click)="yesNoDialog()">YES/NO</button>
      <button class='button' mat-raised-button (click)="confirmCancelDialog()">CONFIRM/CANCEL</button>
      <button class='button' mat-raised-button (click)="test()">test</button>
    </mat-card-actions>
  </mat-card>
