:host {
    display: block;
    background-color: rgb(173, 175, 153);
   }
.container {  
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color:gray;
}


   .full-width {
    width: 80%;
    display: block;
    margin:0 auto;
  }
  .half-width {
    width: 50%;
    display: block;
    margin:0 auto;
  }
    
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  label {
    display: flex;
    align-items: center;
    font-size: small;
  }
  .centered  {
    display: block;
    margin:0 auto;
    
}