<div class="container">
    <p>Stored data</p>
    <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <label>First name:</label>
                    <input matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field class="full-width" floatLabel="always">
                    <label>Last name:</label>
                    <input matInput placeholder="Last name" formControlName="lastName">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <label>Fav colour:</label>
                    <input matInput placeholder="Colour" formControlName="colour">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <label>Last updated:</label>
                    <input matInput placeholder="Last updated" formControlName="lastUpdated">
                </mat-form-field>
            </div>
        </div>
        <button mat-flat-button class="centered" color="primary" type="submit">save</button>
    </form>
</div>
<button (click)="test()">Loc test</button>
<button (click)="test2()">Loc test 2</button>
<a-op></a-op>