<p>signals works!</p>
<h2>A:{{a()}}  B:{{b()}}  C: {{c()}} d: {{d()}}</h2>
<h2>{{a()}} x {{b()}} = {{d()}}</h2>
<h2>{{a()}} + {{b()}} = {{c()}}</h2>

<div>
<button (click)="incA()">A+1</button>
<button (click)="incB()">B+1</button>    
</div>
<div>
    <button (click)="test()">Test</button>
</div>
Test2: {{test2()}}

<!-- Products: {{productService.products()|json}}
<p>Prod: {{productService.products()[0].name}}</p>
<p>Prod: {{productService.products()[0].price}}</p> -->
<h3>Fruits in stock</h3>
@for (product of productService.products(); track product; let i = $index) {
 <ul>
    <li>{{product.name}} : {{product.price}}</li>   
</ul>
}