<p><b>Grocery Component</b></p>
<div class="form-field">
    <label for="changeApples">Number of apples:</label>
    <input id="changeApples" type="text" placeholder="0" [(ngModel)]="numberOfApples">
  </div>
  <div class="form-field">
    <label for="changeLimes">Number of limes:</label>
    <input id="changeLimes" type="text" placeholder="0" [(ngModel)]="numberOfLimes">
  </div>
  <p>Last event: {{ lastEvent }}</p>
  <app-apple [myApples]="numberOfApples" (reportApples)="AddApples($event)"></app-apple>
  <app-lime [myLimes]="numberOfLimes" (reportLimes) = "AddLimes($event)"></app-lime>
