<h6>Converted to use Signals. Originally used BehaviorSubject (see grocery-store.service)</h6>
<p><b>Grocery Component</b></p>
<div class="form-field">
    <label for="changeApples">Number of apples:</label>
    <input id="changeApples" type="text" size = "4"  [(ngModel)]="sigApples">
  </div>
  <div class="form-field">
    <label for="changeLimes">Number of limes:</label>
    <input id="changeLimes" type="text" size = "4" placeholder="" [(ngModel)]="sigLimes">
  </div>
 <h2> Fruit : {{numberOfFruit()}}</h2> 
 @if(equality()) {The same number}  <!--added to test-->
  <app-apple [myApples]="sigApples()" (reportApples)="AddApples($event)"></app-apple>
  <app-lime [myLimes]="sigLimes()" (reportLimes)="AddLimes($event)"></app-lime>
