<div class="navigation">
    <li><a [routerLink]="['/parent']" routerLinkActive="active" class="btn">Parent</a></li>
    <li><a [routerLink]="['/grocery']" routerLinkActive="active" class="btn">Grocery Example</a></li>
    <li><a [routerLink]="['/state']" routerLinkActive="active" class="btn">State</a></li>
    <li><a [routerLink]="['/dialog']" routerLinkActive="active" class="btn">Dialog Example</a></li>
    <li><a [routerLink]="['/control']" routerLinkActive="active" class="btn">Control Flow</a></li>
    <li><a [routerLink]="['/kb-test']" routerLinkActive="active" class="btn">KB Test</a></li>
    <li><a [routerLink]="['/debounce']" routerLinkActive="active" class="btn">Debounce Test</a></li>
    <li><a [routerLink]="['/local']" routerLinkActive="active" class="btn">Local</a></li>
    <li><a [routerLink]="['/address']" routerLinkActive="active" class="btn">Address</a></li>
    <li><a [routerLink]="['/buttons']" routerLinkActive="active" class="btn">Buttons</a></li>
    <li><a [routerLink]="['/profile']" routerLinkActive="active" class="btn">Profile</a></li>
    <li><a [routerLink]="['/jserver']" routerLinkActive="active" class="btn">Jserver</a></li>
    <li><a [routerLink]="['/signals']" routerLinkActive="active" class="btn">Signals</a></li>
    <li><a [routerLink]="['/signals2']" routerLinkActive="active" class="btn">Signals 2</a></li>
    <li><a [routerLink]="['/signals3']" routerLinkActive="active" class="btn">Signals 3</a></li>
    <li><a [routerLink]="['/signals4']" routerLinkActive="active" class="btn">Signals 4</a></li>
    <!--
    -->
  </div>
 
