<div class="centred">
<button mat-raised-button color="primary" (click)="tryData()">Try data</button>
<button mat-raised-button color="primary" (click)="cancel()">Cancel function</button>
</div>
<div class="page_wrap">
  <mat-form-field>
    <mat-label>Search by first name</mat-label>
    <input matInput [ngModel]="searchInput()" (ngModelChange)="searchProduct($event)" />
  </mat-form-field>
  <div>
    <table style="width: 100%;  text-align:justify;">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of filteredProducts(); track item.name){
        <tr>
          <td>{{ item.fields.First.stringValue }}</td>
          <td>{{ item.fields.Last.stringValue }}</td>
          <!-- <td><button (mouseover)="filter(item)">details</button></td> -->
          <td><button mat-mini-fab color="primary" (click)="filter(item)">
            <mat-icon>edit</mat-icon>
          </button></td>
          <td><button mat-mini-fab color="warn" (click)="filter(item)">
            <mat-icon>delete</mat-icon>
          </button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <button mat-mini-fab [disabled]="currentPage() === 1" (click)="goToPrevPage()">
    <mat-icon>arrow_left</mat-icon>
  </button>
  page {{ currentPage() }}  
  <button mat-mini-fab [disabled]="isNextPageNotAvailable()" (click)="goToNextPage()">
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>
<hr>
<button (click)="test()">Test date</button>


<div class="page_wrap_2">
  @if(single()){
  <p> Document: {{ (single().name).split("/").pop() }} </p>
  <p> First Name: {{ single().fields.First.stringValue }} </p>
  <p> Last Name: {{ single().fields.Last.stringValue }}</p>
  <p> Created: {{ (single().created) }} </p>
  <p> Updated: {{ single().updated }} </p>
  <br>
  <button style="text-align:center;" mat-raised-button color="primary" (click)="goBack()">close</button>
  }
</div>

<button mat-button>Success</button>
