<h1>
	Debounce Directive Example
</h1>
<hr>
<h3>1 BUTTON</h3>
<div>Button will debounce clicks and show alert after 2000ms</div>
<button mat-raised-button color="primary"
  DebounceClick
  [debounceTime]="2000"
  (onEvent)="handleDebouncedClick($event)"
  type="button"
>
  Click
</button>

<br /><br />
<hr/>
<h3>2 INPUT</h3>
<div>Input will debounce keyup and update modal value after 1000ms</div>
<mat-form-field>
<input matInput
  DebounceKeyUp
  
  (onEvent)="handleDebouncedKeyUp($event)"
  type="text"
   placeholder="Search"
/>
</mat-form-field>
{{inputValue}}
<pre>{{inputValue | json}}</pre>
<hr>
<h1>The summary element</h1>

<details>
  <summary>Epcot Center</summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
