<h2>Parent Component</h2>
<button class = "btn" mat-raised-button color="primary" (click)="increment()">+ 1</button>
<button class = "btn" mat-raised-button color="primary" (click)="decrement()">- 1</button>
<span>Count: {{count}}</span>
<counter [value]=count></counter>
<is-even [counter]=count></is-even>
<app-child (status)="syncProducts()"></app-child>
<div appLightbox highlightColor="black">
    <h1 style="display: table-cell;">Welcome to Angular v.17</h1>
</div>
<div appLightbox highlightColor="red" highlightColor2="black">
    <h1 style="display: table-cell;">Ken</h1>
</div>
<div appLightbox >
    <h1 style="display: table-cell;">default</h1>
</div>
<!--
<app-my-timer (timer)="displayTimer($event)"></app-my-timer>
-->
Timer: {{myTimer()}}
<app-my-timer (take4)="displayTimer($event)"></app-my-timer>
<!--

<app-my-timer (timer)="displayTimer($event)"></app-my-timer>
-->