<async-observable-pipe />
<div class="container">
  <a [routerLink]="['parent']" routerLinkActive="active" class="btn">Parent</a>
  <a [routerLink]="['grocery']" routerLinkActive="active" class="btn">Grocery Example</a>
  <a [routerLink]="['maths']" routerLinkActive="active" class="btn">Maths</a>
  <a [routerLink]="['state']" routerLinkActive="active" class="btn">State</a>
  <a [routerLink]="['dialog']" routerLinkActive="active" class="btn">Dialog Example</a>
  <a [routerLink]="['control']" routerLinkActive="active" class="btn">Control Flow</a>
  <a [routerLink]="['kb-test']" routerLinkActive="active" class="btn">KB Test</a>
</div>
<router-outlet />
