<async-observable-pipe />
<div class="container">
  <a [routerLink]="['parent']" routerLinkActive="active" class="btn">Parent</a>
  <a [routerLink]="['grocery']" routerLinkActive="active" class="btn">Grocery Example</a>
  <a [routerLink]="['state']" routerLinkActive="active" class="btn">State</a>
  <a [routerLink]="['dialog']" routerLinkActive="active" class="btn">Dialog Example</a>
  <a [routerLink]="['control']" routerLinkActive="active" class="btn">Control Flow</a>
  <a [routerLink]="['kb-test']" routerLinkActive="active" class="btn">KB Test</a>
  <a [routerLink]="['debounce']" routerLinkActive="active" class="btn">Debounce Test</a>
  <a [routerLink]="['local']" routerLinkActive="active" class="btn">Local</a>
  <a [routerLink]="['address']" routerLinkActive="active" class="btn">Address</a>

</div>
<router-outlet />
