.example-card {
    max-width: 400px;
    background-color:darkgreen;
    color: coral;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
  background-color:rgb(196, 219, 63);
}
mat-card-content {
  color: beige;
}
:host {
  display: block;
  background-color: rgb(174, 185, 174);
 }
 mat-toolbar {
  position: sticky;
  top: 1px;
  z-index: 10;
  
  justify-content: center;
}
