<h4>{{title}}</h4>
<h6>Add new Record to be done - see append.js</h6>
<div>
    <button disabled (click)="addPerson()">Add new record</button>
</div>
<div>
    {{status}}
</div>

<table class='table'>
    <thead>
        <tr>
            <th>idx</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <!--
    <tr *ngFor="let person of people;">
        -->
        @for (employee of people; track $index) {
        <tr>
            <td>{{$index}}</td>
            <td>{{employee.id}}</td>
            <td><input [(ngModel)]="employee.name" /></td>
            <td><input [(ngModel)]="employee.email" /></td>
            <td><input [(ngModel)]="employee.phone" /></td>
            <td><button (click)="updatePerson(employee)">Update</button></td>
            <td><button (click)="deletePerson(employee.id)">Del</button></td>
        </tr>
        }
    </tbody>
</table>