:host {
  display: block;
  background-color: rgb(191, 226, 125);
  text-align: center;
 }
.container {
    display: flex;
    justify-content: space-between;
  }
  
  app-keyboard {
    border: 2px solid blue;
    width: 40%;
  flex-grow: 1;
  }

  .comp1, .comp2, .comp3 {
    border: 6px solid blue;
    width:30%;
    text-align: left;
    text-indent: 10px;
    height: 400px;
    flex-grow: 1;
  }
  is-even {
    border: 6px solid blue;
    width:30%;
    text-align: left;
    text-indent: 10px;
    height: 400px;
    flex-grow: 1;
  }