:host {
    display: block;
    background-color: rgb(184, 175, 226);
   }

   mat-grid-tile {
    background: lightblue;
    font-size: 16pt;
  }
  
.keyboard {
    width: 35%;
    margin: auto;
    justify-content: center;
    vertical-align: top;
  }
  .myButton {
    width: 10%;
    margin: auto;
    justify-content: center;
  }
  /* On screens that are 700px wide or less*/
  @media all and (max-width: 700px){
    .example-container {
      width: 75%;
      margin-top: 15%;
    }
    .keyboard {
      width: 70%;
    }
  }
  @media all and (max-width: 450px){
    .example-container {
      width: 95%;
      margin-top: 10%;
    }
    .keyboard {
      width: 80%;
    }
    .myButton {
      width: 30%;
    }
}